#if __has_include(".extend.Xresources")
#include ".extend.Xresources"
#endif

! ^ The above lines are no comments!
! Leave them as they are if a file ~/.extend.Xresources is being used on your system.
! config can be added there or also here below.
! For comments use !

!! Colorscheme modify at https://terminal.sexy

! special
*.foreground:   #dfdfdf 
!#8a8986
*.background:   #28211c
*.cursorColor:  #c5c8c6

! black
*.color0:       #1d1f21
*.color8:       #969896

! red
*.color1:       #f90000
*.color9:       #f90000

! green
*.color2:       #55aa55
*.color10:      #55aa55

! yellow
*.color3:       #ffd700
*.color11:      #ffd700

! blue
*.color4:       #0a81f5
*.color12:      #0a81f5

! magenta
*.color5:       #ff69b4
*.color13:      #ff69b4

! cyan
*.color6:       #3971ed
*.color14:      #3971ed

! white
*.color7:       #c5c8c6
*.color15:      #ffffff

!! UXTerm Appearance
UXTerm*termName: xterm-256color
UXTerm*saveLines: 100000
!UXTerm*colorBDMode: true
UXTerm*renderFont: true
UXTerm*faceName: Iosevka Term
UXTerm*faceSize: 12

!! Sixel support
!
UXTerm*decTerminalID: vt340


! disable bold font faces, instead make text light blue.
!UXTerm*colorBDMode: true
!UXTerm*colorBD: rgb:82/a4/d3
! disable underlined text, instead make it white.
!XTerm.vt100.colorULMode: true
!XTerm.vt100.colorUL: rgb:e4/e4/e4
! similarly use colorIT for italics

Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

Xcursor.theme: Bibata_Ice
